<div class="container d-flex justify-content-around my-5 py-5">
    <!-- Default form login -->
    <form class="text-center border rounded border-gray p-5 w-50" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <h1 class="mb-4">Inicia sesión</h1>

      <!-- Email -->
      <input type="text" *ngIf="isValid" id="username" formControlName="username" class="form-control mb-4" placeholder="Nombre" required />
      <input type="text" *ngIf="!isValid" value="Incorrecto" class="form-control is-invalid mb-4 " id="username" required formControlName="username" required />

      <!-- Password -->
      <input type="password" id="password" formControlName="password" class="form-control mb-4" placeholder="Contraseña">

      <!-- Sign in button -->
      <button class="btn btn-primary btn-block my-4" type="submit">Iniciar sesión</button>

      <div class="alert alert-dismissible alert-warning text-center" *ngIf="loginError">
        <h4 class="alert-heading">Upss!</h4>
        <p class="mb-0">Parece que no existe ningún usuario con las credenciales proporcionadas</p>
      </div>

      <!-- Register -->
      <p class="mt-5">¿Aún no eres miembro?
        <button type="button" class="btn btn-secondary btn-block my-4" (click)="homeComponent.isLeftVisible = !homeComponent.isLeftVisible">
          Registrese
        </button>
      </p>

    </form>
    <!-- Default form login -->
</div>