<h1 class="mb-5 text-center">Estadísticas</h1>
<div class="row mb-5" style="max-width: 100%;">
  <!-- Publication statictics-->
  <div class="col-sm-6">
    <div class="card border-primary mt-3 ml-4" >
      <div class="card-header">{{titlePublication}} </div>
      <div class="card-body">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
  
  <!-- Breeding statictics-->
  <div class="col-sm-6">
    <div class="card border-primary mt-3 ml-4" >
      <div class="card-header">{{titleBreeding}} </div>
      <div class="card-body">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>

</div>
