
.crop {
    overflow: hidden;
    max-height: 200px;
}

.crop img {
    width: 100%;
    margin: 0 0 -8% 0;
}

.bl-right{
    border: 1px solid black;
    min-height: 50vh;
    float: right;
    object-fit: contain;

}

.bl-left{
    border: 1px solid black;
    min-height: 50vh;
    float: left;
    object-fit: contain;

}