
<div class="mb-3">
    <h1 class="display-4">Mis anuncios de crianza</h1>
</div>

<div class="card border-success mb-3" *ngFor="let breedingAd of personalBreedings">
<h3  class="card-header">{{breedingAd.breed}} en {{breedingAd.location}}</h3>
<h6  class="card-header bg-success" *ngIf="breedingAd.transaction_status=='Completed'">Revisada</h6>
<h6  class="card-header bg-warning" *ngIf="breedingAd.transaction_status=='In progress'">En revisión</h6>
<div  class="card-body" >
<img src="{{env}}/{{breedingAd.animal_photo.split(',')[0]}}">
<div class="description-content">
<!--{{breedingAd.breeding_id}}-->
<li><label><b>Edad: </b></label> {{ this.configService.calculateAge(breedingAd.birth_date) }}</li>
<li><label><b>Pedigree: </b></label> {{this.configService.translatePedigree(breedingAd.pedigree)}} </li>
<li><label><b>Ubicación: </b></label> {{breedingAd.location}} </li>
<li><label><b>Precio: </b></label> {{breedingAd.price}} euros </li>
<li *ngIf="breedingAd.transaction_status=='In progress'"><label><b>Código de confirmación: </b></label> {{breedingAd.codenumber}}</li>

<div *ngIf="breedingAd.transaction_status != 'Completed'">
    <button type="button" class="btn btn-success" [routerLink]="['/breeding-edit-particular', breedingAd.breeding_id]">Editar Anuncio</button>
</div>

</div>
</div>


