
<div class="mb-3">
    <h1 class="display-4">Mis anuncios de crianza</h1>
</div>

<div class="card border-success mb-3" *ngFor="let breedingAd of personalBreedings">
<h3 class="card-header">{{breedingAd.breed}} en {{breedingAd.location}}</h3>
<h6 class="card-header bg-success" *ngIf="breedingAd.transaction_status=='Completed'">{{breedingAd.transaction_status}}</h6>
<h6 class="card-header bg-warning" *ngIf="breedingAd.transaction_status=='In progress'">{{breedingAd.transaction_status}}</h6>
<div class="card-body">
<img src="{{env}}/{{breedingAd.animal_photo.split(',')[0]}}">
<div class="description-content">
<li><label><b>Edad: </b></label> {{breedingAd.birth_date}} años</li>
<li><label><b>Pedigree: </b></label>  </li>
<li><label><b>Ubicación: </b></label> {{breedingAd.location}} </li>
<li><label><b>Precio: </b></label> {{breedingAd.price}} euros </li>
</div>
</div>
</div>


