<div class="mb-3">
  <h1 class="display-4">Mis anuncios de crianza</h1>
</div>

<div class="card border-success mb-3" *ngFor="let breedingAd of returnedBreedings">
  <h3 class="card-header">
    {{ breedingAd.breed }} en {{ breedingAd.location }}
  </h3>
  <h6
    class="card-header bg-success"
    *ngIf="breedingAd.document_status == 'Accepted'"
  >
    Revisada
  </h6>
  <h6
    class="card-header bg-warning"
    *ngIf="breedingAd.document_status == 'In revision'"
  >
    En revisión
  </h6>
  <div class="card-body">
    <img src="{{ env }}/{{ breedingAd.animal_photo.split(',')[0] }}" alt="Foto/s del animal" />
    <div class="description-content">
      <!--{{breedingAd.breeding_id}}-->
      <ul>
        <li>
          <label><strong>Edad: </strong></label>
          {{ this.configService.calculateAge(breedingAd.birth_date) }}
        </li>
        <li>
          <label><strong>Pedigree: </strong></label>
          {{ breedingAd.pedigree == 1 ? "Sí" : "No" }}
        </li>
        <li>
          <label><strong>Ubicación: </strong></label> {{ breedingAd.location }}
        </li>
        <li>
          <label><strong>Precio: </strong></label> {{ breedingAd.price }} euros
        </li>
        <li *ngIf="breedingAd.transaction_status == 'In progress'">
          <label><strong>Código de confirmación: </strong></label>
          {{ breedingAd.codenumber }}
        </li>
      </ul>
      
      <div *ngIf="breedingAd.transaction_status=='Awaiting payment'">
        <button
          type="button"
          class="btn btn-success"
          (click)="acceptMoney(breedingAd.breeding_id)">Recibir el pago
        </button>
    </div>

      <div *ngIf="breedingAd.transaction_status == 'Offered'">
        <div *ngIf="breedingAd.pet_id == null">
          <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/breeding-edit-particular', breedingAd.breeding_id]">
            Editar Anuncio
          </button>
        </div>
        <div *ngIf="breedingAd.pet_id != null">
          <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/breeding-animal-edit', breedingAd.breeding_id]">
            Editar Anuncio
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination class="center" [totalItems]="personalBreedings.length" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)">
</pagination>