img{
    height: 300px; 
    width: inherit; 
    display: block;
    object-fit: cover;
}

.img-fluid{
    height:50px;
    width: 50px;;
}

.horizontal-advertisement{
    margin-left: 0px;
    width: 100%;
    margin-top: 80px;
    bottom: 0;
}
.vertical-advertisement{
    margin-left: 0px;
    background-color:lightblue;
    margin-top: 0px;
    display:inline-block;
    float: left;
    width: auto;
    height: 100%;
    padding-bottom: 3%;
}

 @media (max-width:1220px){
    .vertical-advertisement{
        display: none;
    }

    .list-style{
        margin-left: 10%;
    }

    .premium{
        height: auto;
        width: 10%;
    }
 }

 