
.banner{
    margin-left: 0px;
    margin-top: 80px;
    width: 100%;
}


h1{
    margin: 0px 10px 10px 10px;
}

div{
    width: 90%;
    margin: 20px 0px 0px 20px;
    color: black;
}

img{
    width: 17%;
    float: right;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 2%;
}

.card-body{
    margin-top: auto;
}

.description-content{
    margin: 0;
    list-style-type: none;
}

button{
    margin: 20px 0px 0px 0px;
}

 .premium{
    height: 4%;
    width: 4%;
    float: inherit;
}

.center{
    display: flex;
    justify-content: center;
}


.horizontal-advertisement{
    margin-left: 0px;
    width: 100%;
    margin-top: 80px;
    bottom: 0;
}
.vertical-advertisement{
    margin-left: 0px;
    background-color:lightblue;
    margin-top: 0px;
    display:inline-block;
    float: left;
    width: auto;
    height: 100%;
    padding-bottom: 3%;
}

.list-style{
    margin-top: 3%;
    display:inline-block;
    height: 100%;
    width: 80%;
}

.foot{
    margin-left: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 
 .foot-fixed{
    margin-left: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 @media (max-width:1220px){
    .vertical-advertisement{
        display: none;
    }

    .list-style{
        margin-left: 10%;
    }

    .premium{
        height: auto;
        width: 10%;
    }
 }