<footer id="main-footer"class="page-footer font-small fixed-bottom primary">
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Sobre nosotros</h5>

        <ul class="list-unstyled">
          <li>
            <a id="about"href="https://ispp-linkedpet.github.io/"> Landing page</a>
          </li>

        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold  mt-3 mb-4">Politicas</h5>

        <ul class="list-unstyled">
          <li>
            <a href='https://ispp-linkedpet.github.io/terms.html'>Términos y condiciones</a>          
          </li>
          <li>
            <a href='https://ispp-linkedpet.github.io/privacy_policy.html'>Politica de privacidad</a>                     
          </li>
        </ul>

      </div>
    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a> LinkedPet</a>
  </div>  
 
</footer>
