<h1 class="display-5">Lista de adopciones pendientes</h1>
<!--Foreach Advertisement-->

<div class="card border-success mb-3" *ngFor="let adoption of pendingAdoptions">
  <h3 class="card-header">{{ adoption.breed }} en {{ adoption.location }}</h3>
  <div class="card-body">
    <div class="description-content">
      <!-- Animal Documentation-->

      <div class="column">
        <div class="gallery">
          <a
            target="_blank"
            href="{{ env }}/{{ adoption.identification_photo.split(',')[0] }}"
          >
            <img
              src="{{ env }}/{{ adoption.identification_photo.split(',')[0] }}"
              alt="Foto de identificación"
              width="800"
              height="400"
            />
          </a>
          <div class="desc">Foto de identificación</div>
        </div>

        <div class="gallery">
          <a
            target="_blank"
            href="{{ env }}/{{ adoption.vaccine_passport.split(',')[0] }}"
          >
            <img
              src="{{ env }}/{{ adoption.vaccine_passport.split(',')[0] }}"
              alt="Documento de vacunas"
              width="800"
              height="400"
            />
          </a>
          <div class="desc">Documento de vacunas</div>
        </div>
      </div>

      <!-- Animal Documentation-->

      <div class="column">
        <strong>Datos del animal:</strong>
        <hr />
        <ul>
          <li>
            <label><strong>Pedigree:</strong> {{ adoption.pedigree }}</label>
          </li>
          <li>
            <label><strong>Nombre:</strong> {{ adoption.name }}</label>
          </li>
          <li>
            <label><strong>Edad: </strong></label> {{ this.configService.calculateAge(adoption.birth_date) }}
          </li>
          <li>
            <label><strong>Raza: </strong></label> {{ adoption.breed }}
          </li>
          <li>
            <label><strong>Ubicación: </strong></label> {{ adoption.location }}
          </li>
        </ul>
      </div>

      <!-- Animal Photo-->

      <div class="column">
        <img
          class="animal_photo"
          src="{{ env }}/{{ adoption.animal_photo.split(',')[0] }}"
          alt="Foto/s del animal"
        />
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-success left"
    (click)="acceptAdoption(adoption.adoption_id)"
  >
    Aceptar
  </button>
  <button
    type="button"
    class="btn btn-danger right"
    (click)="rejectAdoption(adoption.adoption_id)"
  >
    Rechazar
  </button>
</div>

<!--End Foreach-->
