div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align:center;
  }

h1{
    margin: 10px 10px 10px 10px;
}

div.card{
    width: 90%;
    margin: 20px 60px 0px 60px;
    color: black;
}

div.column {
    float: left;
    width: 33.33%;
  }
  

img.animal_photo{
    width: 350px;
    height: 250px;
    float: right;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

figcaption{
    text-align: justify;
}


.documentation img{
    width: 50%;
    float: left;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.card-body{
    margin-top: auto;
}

.description-content{
    margin: 0;
    list-style-type: none;
}

button{
    margin: 20px 0px 0px 0px;
}

button{
  width: 100%;
  position:relative;
}
button.left{
  float: left;
}
button.right{
  float: right;
}