.foot{
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 
 .foot-fixed{
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }


h1{
    margin: 10px 10px 10px 10px;
}

div{
    width: 90%;
    margin: 20px 60px 0px 60px;
    color: black;
}

img{
    width: 27%;
    float: right;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-body{
    margin-top: auto;
}

.description-content{
    margin: 0;
    list-style-type: none;
}

button{
    margin: 20px 0px 0px 0px;
}

