<app-header></app-header>
<div class="mb-3">
    <h1 class="display-4">Lista de crianza</h1>
</div>
<div class="card border-success mb-3" *ngFor="let request of requests">
<h3 class="card-header">Oferta recibida en su anuncio {{request.publication_id}}</h3>
<div class="card-body">
    <h4>Estado: {{request.status}}</h4>
    <br>
    <button *ngIf="request.status=='Pending'" type="button" class="btn btn-primary mx-3 " (click)="onSubmit(request.id,request.publication_id, true)">Aceptar</button>
    <button *ngIf="request.status=='Pending'" type="button" class="btn btn-danger mx-6" (click)="onSubmit(request.id,request.publication_id, false)">Rechazar</button>
</div >

</div>
<div class="foot-fixed" *ngIf="requests.length <3"><app-footer></app-footer></div>
<div class="foot" *ngIf="requests.length >= 3"><app-footer></app-footer></div>