.modal-dialog{
    position: absolute;
    left: 70%; /* Buscamos el centro vertical (relativo) del navegador */
    margin-left: -160px;
}
.img-fluid {
    height: 400px;
    background-size: cover;
    width: auto; 
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .back{
      background-color: lightgray;
  }