<div class="container">
  <div class="row">
    <div class="col sm-6" >
      <div class="card border-primary">
          <h3 class="card-header">{{breedingListPageComponent.selectedBreeding.breed}} en {{breedingListPageComponent.selectedBreeding.location}}</h3>
          <div class="card-body">
          <p class="card-text">Fotos subidas por el publicante:</p>
          <div class="row">
            <div clas="col-md3" *ngFor="let img of breedingListPageComponent.selectedBreeding.animal_photo.replace(' ', '').split(','); let i = index">
              <a href="{{env}}/{{img}}" target="_blank"><img class = "img-thumbnail" id="imagen{{i}}" style="height: 150px; display: block;" src="{{env}}/{{img}}" alt="img{{i}}" ></a>
            </div>
          </div>
          </div>
          <div class="card-body">
            <p class="card-text">Precio: {{breedingListPageComponent.selectedBreeding.price}} </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Animal: {{breedingListPageComponent.selectedBreeding.type}}</li>
            <li class="list-group-item">Raza: {{breedingListPageComponent.selectedBreeding.breed}}</li>
            <li class="list-group-item">Pedigree: {{breedingListPageComponent.selectedBreeding.pedigree == 1 ? 'Sí' : 'No'}}</li>
            <li class="list-group-item">Edad: {{breedingListPageComponent.configService.calculateAge(breedingListPageComponent.selectedBreeding.birth_date)}}</li>
            <li class="list-group-item">Genéro: {{breedingListPageComponent.selectedBreeding.genre == 'Male' ? 'Macho' : 'Hembra'}}</li>
            <li class="list-group-item">Fecha de publicación: {{breedingListPageComponent.selectedBreeding.creation_date | date:'MM/dd/yyyy HH:mm' }}</li>

          </ul>
          <div class="card-body">
              <button *ngIf="!breedingListPageComponent.hasreq.hasRequest" type="button" class="btn btn-primary" (click)="onSubmit(breedingListPageComponent.selectedBreeding.breedingId)" >Me interesa</button>
              <button type="button" class="btn btn-primary mx-3" (click)="backToTheList()">Volver a anuncios</button>      
          </div>
          <div class="card-footer text-muted">
          </div>
      </div>
    </div>
  </div>
</div>
