@media (max-width:1300px){
    .img-fluid{
        display: none;
    }

}

.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    padding-top: 20px;
}