<app-header></app-header>
<div class="container d-flex justify-content-around">
    <!-- Default form login -->
    <form class="text-center border rounded border-gray p-5 w-50" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <h1 class="mb-4">Crear veterinario</h1>
        <div class="row d-flex">
            <div class="form-group col-md-6" *ngIf="isValidName">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" required formControlName="name"
                    (change)="validateName()">
            </div>
            <div class="form-group has-danger col-md-6" *ngIf="!isValidName">
                <label class="form-control-label" for="name">Nombre</label>
                <input type="text" class="form-control is-invalid" id="name" formControlName="name"
                    (change)="validateName()">
                <div class="invalid-feedback">Nombre no válido</div>
            </div>
            <div class="form-group col-md-6" *ngIf="isValidSurname">
                <label for="surname">Apellido</label>
                <input type="text" class="form-control" id="surname" required formControlName="surname"
                    (change)="validateSurname()">
            </div>
            <div class="form-group has-danger col-md-6" *ngIf="(!isValidSurname)">
                <label class="form-control-label" for="surname">Apellido</label>
                <input type="text" class="form-control is-invalid" id="surname" formControlName="surname"
                    (change)="validateSurname()">
                <div class="invalid-feedback">Apellido no válido</div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="form-group col-md-6" *ngIf="isValidAddress">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address" required formControlName="address"
                    (change)="validateAddress()">
            </div>
            <div class="form-group has-danger col-md-6" *ngIf="!isValidAddress">
                <label class="form-control-label" for="address">Dirección</label>
                <input type="text" class="form-control is-invalid" id="address" formControlName="address"
                    (change)="validateAddress()">
                <div class="invalid-feedback">Dirección no válida</div>
            </div>

            <div class="form-group col-md-6" *ngIf="isValidTelephone">
                <label for="telephone">Teléfono</label>
                <input type="text" class="form-control" id="telephone" required formControlName="telephone"
                    maxlength="9" (change)="validateTelephone()">
            </div>

            <div class="form-group has-danger col-md-6" *ngIf="!isValidTelephone">
                <label class="form-control-label" for="telephone">Teléfono</label>
                <input type="text" class="form-control is-invalid" id="telephone" formControlName="telephone"
                    maxlength="9" (change)="validateTelephone()">
                <div class="invalid-feedback">Teléfono no válido</div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="form-group col-md-6" *ngIf="isValidEmail">
                <label for="email">Correo electrónico</label>
                <input type="email" class="form-control" id="email" required formControlName="email"
                    (change)="validateEmail()">
            </div>
            <div class="form-group has-danger col-md-6" *ngIf="!isValidEmail">
                <label class="form-control-label" for="email">Correo electrónico</label>
                <input type="text" class="form-control is-invalid" id="email" formControlName="email"
                    (change)="validateEmail()">
                <div class="invalid-feedback">Email no válido</div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="form-group col-md-6" *ngIf="isValidUrl">
                <label for="url">Url</label>
                <input type="url" class="form-control" id="url" required formControlName="url" (change)="validateUrl()">
            </div>
            <div class="form-group has-danger col-md-6" *ngIf="!isValidUrl">
                <label class="form-control-label" for="url">Url</label>
                <input type="text" class="form-control is-invalid" id="url" formControlName="url"
                    (change)="validateUrl()">
                <div class="invalid-feedback">Url no válida</div>
            </div>
        </div>


        <div class="form-group col-4" *ngIf="isValidPremium">
            <label for="is_premium">Premium</label>
            <div>
                <select class="form-control" id="is_premium" formControlName="is_premium" (change)="validatePremium()">
                    <option value=''></option>
                    <option value='1'>Si</option>
                    <option value='0'>No</option>
                </select>
            </div>
        </div>
        <div class="form-group has-danger col-4" *ngIf="!isValidPremium">
            <label class="form-control-label" for="is_premium">Premium</label>
            <div></div>
            <select class="form-control is-invalid" id="is_premium" formControlName="is_premium"
                (change)="validatePremium()">
                <option value=''></option>
                <option value='1'>Si</option>
                <option value='0'>No</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="optional_photo">Foto opcional</label>
            <div class="input-group">
                <div class="custom-file">
                    <input #optionalPhoto type="file" class="custom-file-input" formControlName="optional_photo"
                        name="optional_photo" id="optional_photo" (change)="getOptionalPhotoAndValidate($event)">
                    <label class="custom-file-label" for="optional_photo">Seleccionar imagen</label>
                </div>
            </div>

            <div class="invalid-feedback" *ngIf="!isValidOptionalPhoto">La foto debe tener una extensión jpg, jpeg o
                png
            </div>
            <div class="imagePreview" *ngIf="optionalPhotoUrl && optionalPhotoUrl !== ''">
                <img id="img-upload" [src]="optionalPhotoUrl" alt="asd">
            </div>
        </div>



        <!-- Sign in button -->
        <button class="btn btn-primary btn-block my-4" type="submit">Crear</button>

        <div class="alert alert-danger" role="alert" *ngIf="showError">
            {{ errorMessage }}
        </div>

        <div class="alert alert-success" role="alert" *ngIf="registerSuccess">
            {{ successMessage }}
        </div>



    </form>
    <!-- Default form login -->
</div>

<app-footer class="foot-fixed"></app-footer>