<div class="col s12 m6 l4 mb-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="photo" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ publicationType }}</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted text-center">Datos de contacto</h6> -->
      <div class="card-text">
        <div>
          {{name}}
        </div>
        <div>
          {{ phone }}
        </div>
        <div>
          {{ email }}
        </div>
        <div>
          {{ address }}
        </div>

        <div style="text-align: center" *ngIf="!created && publicationType=='Petición de crianza'">
          <!--Review-->
          <div *ngIf="transactionStatus=='Completed' && requestStatus=='Accepted'">
            <form [formGroup]="reviewForm"  (ngSubmit)="onSubmitReviewForm()" novalidate> 
              <textarea formControlName="reviewarea" type="" placeholder="Cuéntanos como ha ido" maxlength="200"></textarea>
              <button type="submit" class="btn btn-primary">Enviar Review</button>
            </form>
          </div>
        

        </div>
        <button
          *ngIf="request.status == 'Pending'"
          type="button"
          class="btn btn-danger mx-6"
          (click)="onSubmitdeleteRequest(request.id)"
        >
          Eliminar
        </button>

        <div style="text-align: center" *ngIf="created && publicationType=='Petición de crianza'">
          <!-- Pay method -->
          <div *ngIf="transactionStatus=='In payment' && requestStatus=='Accepted'">
            <app-payment [price]="request.contactData.price" [breedingId]="request.contactData.breedingId"></app-payment>
          </div>
          <hr>
          <!--Confirmation code-->
          <div *ngIf="transactionStatus=='In progress' && requestStatus=='Accepted'">
            <form [formGroup]="requestForm"  (ngSubmit)="onSubmitCodeForm()" novalidate> 
              <input formControlName="confirmationCode" type="text" placeholder="Introduce código">
              <button type="submit" class="btn btn-primary">Enviar Código</button>
            </form>
          </div>

          <!--Review-->
          <div *ngIf="transactionStatus=='Awaiting payment' && requestStatus=='Accepted'">
            <form [formGroup]="reviewForm"  (ngSubmit)="onSubmitReviewForm()" novalidate> 
              <textarea formControlName="reviewarea" type="" placeholder="Cuéntanos como ha ido" maxlength="200" required></textarea>
              <button type="submit" class="btn btn-primary">Enviar Review</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <a href="#" class="btn btn-primary">Ir al anuncio</a> -->
  </div>
</div>