<div class="col s12 m6 l4 mb-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="photo" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ publicationType }}</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted text-center">Datos de contacto</h6> -->
      <div class="card-text">
        <div>
          {{name}}
        </div>
        <div>
          {{ phone }}
        </div>
        <div>
          {{ email }}
        </div>
        <div>
          {{ address }}
        </div>
        <div *ngIf="created">
          <input type="text">
          <button type="button">Enviar Código</button>
        </div>
      </div>
    </div>
    <!-- <a href="#" class="btn btn-primary">Ir al anuncio</a> -->
  </div>
</div>
