<div class="card mb-3">
  <img class="card-img-top" src="{{ photo }}" alt="Foto/s del animal"/>
  <div class="card-header bg-success text-white">
    <h5 class="primary-card-title">{{name}}
    </h5>
  </div>
  <div class="card-body bg-white">
    <span *ngIf="requestStatus=='Pending'" class="badge badge-warning text-white">PENDIENTE DE ACEPTACIÓN</span>
    <span *ngIf="requestStatus=='Rejected'" class="badge badge-danger text-white">RECHAZADA</span>
    <div *ngIf="requestStatus=='Accepted'">
      <span *ngIf="transactionStatus=='Offered'" class="badge badge-success text-white">CREADA</span>
      <span *ngIf="transactionStatus=='In payment'" class="badge badge-light">PENDIENTE DE PAGO</span>
      <span *ngIf="transactionStatus=='In progress'" class="badge badge-info text-white">PENDIENTE DE CONFIRMACIÓN</span>
      <span *ngIf="transactionStatus=='Awaiting payment'" class="badge badge-secondary text-white">PENDIENTE DE ACEPTACIÓN DE PAGO</span>
      <span *ngIf="transactionStatus=='Completed'" class="badge badge-primary text-white">PENDIENTE DE REVISIÓN</span>
      <span *ngIf="transactionStatus=='Reviewed'" class="badge badge-dark text-white">FINALIZADA</span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h5>Telefono: {{ phone }}</h5></li>
      <li class="list-group-item"><h5>Email: {{ email }}</h5></li>
      <li class="list-group-item"><h5>Dirección: {{ address }}</h5></li>
    </ul>
  </div>
  <div class="card-footer">
    <div style="text-align: center" *ngIf="created && publicationType=='Petición de crianza'">
      <!-- Pay method -->
      <div *ngIf="transactionStatus=='In payment' && requestStatus=='Accepted'">
        <app-payment [price]="request.contactData.price" [breedingId]="request.contactData.breedingId"></app-payment>
      </div>
      <!--Confirmation code-->
      <div *ngIf="transactionStatus=='In progress' && requestStatus=='Accepted'">
        <form [formGroup]="requestForm"  (ngSubmit)="onSubmitCodeForm()" novalidate>
          <div class="row mb-4">
            <div class="col-12">
              <input class="form-control" formControlName="confirmationCode" type="text" placeholder="Introduce código">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Enviar Código</button>
        </form>
      </div>

      <!--Review-->
      <div *ngIf="transactionStatus=='Completed' && requestStatus=='Accepted'">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReviewForm()" novalidate> 
          <div class="row mb-4">
            <div class="col-12">
              <textarea class="form-control" formControlName="reviewarea" placeholder="Cuéntanos como ha ido" maxlength="200" required></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Enviar Review</button>
        </form>
      </div>
    </div>
  </div>
</div>