<div class="container my-4">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-header">
        Lista de anuncios publicitarios</h1>
      <p class="lead text-muted">
        En esta página podrás ver y editar todos los anuncios publicitarios publicados en LinkedPets.
      </p>
      <p>
        <button routerLink="/adEdit" type="button" class="btn btn-success">Registrar publicidad</button>
      </p>
    </div>
  </section>

  <div class="card mb-3" *ngFor="let ad of returnedAds">
    <div class="row no-gutters">

      <div class="card-body">
        <img class="card-img-top" src="{{ env }}/{{ ad.top_banner.split(',')[0] }}" alt="Topo Banner" />
        <hr>
        <h5 class="card-text">Tipo de anuncio: {{ad.ad_type}}</h5>
        <h5 class="card-text">Precio: {{ad.price}} €</h5>
        <button *ngIf="ad.id != null" type="button" class="btn btn-success"
          [routerLink]="['/adEdit', ad.id]">Editar</button>
      </div>


    </div>
  </div>
  <!--End Foreach-->
  <pagination class="justify-content-md-center" [totalItems]="ads.length" [itemsPerPage]="itemsPerPage"
    previousText="Anterior" firstText="Primera" nextText="Siguiente" lastText="Último"
    (pageChanged)="pageChanged($event)">
  </pagination>
</div>