<div class="container">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-header">Lista de mis anuncios</h1>
      <p class="lead text-muted">
        Esta es la lista de todos los anuncios que ha creado. <br>
        Si algún anuncio ha recibido una oferta, se habilitará el botón "ver peticiones"
      </p>
    </div>
  </section>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="border-bottom border-gray pb-2 mb-0">Filtrar</h3>
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="form-group col-sm">
          <label for="pubType">Tipo de publicación</label>
          <select class="form-control" id="pubType" formControlName="pubType" (change)="onFilter()">
            <option value="" [defaultSelected]="true">Seleccione el tipo de publicación</option>
            <option value="Breeding">Crianza</option>
            <option value="Adoption">Adopción</option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="animalType">Tipo animal</label>
          <select class="form-control" id="animalType" formControlName="animalType" (change)="onFilter()">
            <option value="" [defaultSelected]="true">Seleccione tipo animal</option>
            <option value="Dog">Perro</option>
            <option value="Cat">Gato</option>
            <option value="Horse">Caballo</option>
            <option value="None">Sin tipo</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-dismissible alert-info" *ngIf="returnedAds.length<=0">
    <h4 class="alert-heading">
      <fa-icon [icon]="faInfoCircle" class="mr-2"></fa-icon>No se han encontrado anuncios
    </h4><br>
    <p>Podrías probar a crear alguno nuevo y verlo en esta sección</p>
  </div>

  <div class="row">
    <div class="col-sm-6 d-flex flex-column align-items-center justify-content-center my-4"
      *ngFor="let adv of returnedAds">
      <img class="rounded" src="{{ env }}/{{ adv.animal_photo.split(',')[0] }}" alt="Foto/s del animal" />
      <div class="card mt-n5 w-75">
        <div class="card-header bg-success text-white">
          <h4 class="primary-card-title">{{ adv.name == null ? adv.breed : adv.name + ", " + adv.breed}}
            <fa-icon *ngIf="adv.genre == 'Female'" [icon]="faVenus"></fa-icon>
            <fa-icon *ngIf="adv.genre == 'Male'" [icon]="faMars"></fa-icon>
            <fa-icon *ngIf="adv.pedigree" [icon]="faAward" class="ml-2"></fa-icon>
          </h4>
        </div>
        <div class="card-body bg-white">
          <!---->
          <span *ngIf="adv.adoption_id!=null" class="badge badge-info text-white mr-2">ADOPCIÓN</span>
          <span *ngIf="adv.breeding_id!=null" class="badge badge-secondary text-white mr-2">CRIANZA</span>
          <!---->
          <span *ngIf="adv.document_status=='Accepted'" class="badge badge-success text-white mr-2">REVISADA</span>
          <span *ngIf="adv.document_status=='In revision'" class="badge badge-warning text-white mr-2">EN REVISIÓN</span>
          <span *ngIf="adv.document_status=='Rejected'" class="badge badge-danger text-white mr-2">RECHAZADA</span>
          <!---->
          <span *ngIf="adv.transaction_status=='Offered'" class="badge badge-dark text-white">CREADA</span>
          <span *ngIf="adv.transaction_status=='In payment'" class="badge badge-light">PENDIENTE DE PAGO</span>
          <span *ngIf="adv.transaction_status=='In progress'" class="badge badge-info text-white">PENDIENTE DE
            CONFIRMACIÓN</span>
          <span *ngIf="adv.transaction_status=='Awaiting payment'" class="badge badge-secondary text-white">REALIZAR
            COBRO</span>
          <span *ngIf="adv.transaction_status=='Completed'" class="badge badge-primary text-white">PENDIENTE DE
            RESEÑA</span>
          <span *ngIf="adv.transaction_status=='Reviewed'" class="badge badge-danger text-white">FINALIZADA</span>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="adv.birth_date!=null">
              <h5>Edad: {{ this.configService.calculateAge(adv.birth_date) }}</h5>
            </li>
            <li class="list-group-item">
              <h5>Ubicación: {{ adv.location }}</h5>
            </li>
            <li class="list-group-item" *ngIf="adv.price!=null">
              <h5>Precio: {{ adv.price }}€</h5>
            </li>
            <li class="list-group-item" *ngIf="adv.taxes!=null">
              <h5>Tasas: {{ adv.taxes }}€</h5>
            </li>
            <li *ngIf="adv.transaction_status == 'In progress' && adv.particular_id!=null"
              class="list-group-item bg-info text-white">
              <h5>Código de confirmación: {{ adv.codenumber }}</h5>
            </li>
          </ul>
          <p></p>
          <button *ngIf="adv.transaction_status=='Awaiting payment'" type="button"
            class="btn btn-secondary float-center" (click)="acceptMoney(adv.breeding_id)">
            Recibir el pago
          </button>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center" *ngIf="adv.transaction_status != 'Completed'">
            <div *ngIf="adv.adoption_id!=null">
              <button type="button" *ngIf="adv.document_status=='Accepted'" class="btn btn-success" [routerLink]="['/adoption-edit', adv.adoption_id]">
                Editar Anuncio
              </button>
            </div>
            <div *ngIf="adv.breeding_id != null && adv.pet_id == null && adv.transaction_status == 'Offered' && adv.document_status=='Accepted'">
              <button type="button" class="btn btn-success"
                [routerLink]="['/breeding-edit-particular', adv.breeding_id]">
                Editar Anuncio
              </button>
            </div>
            <div *ngIf="adv.pet_id != null && adv.transaction_status == 'Offered' && adv.document_status=='Accepted'">
              <button type="button" class="btn btn-success" [routerLink]="['/breeding-animal-edit', adv.breeding_id]">
                Editar Anuncio
              </button>
            </div>
            <button type="button" class="btn btn-secondary mx-2" *ngIf="!mapShowRequestBreeding.get(adv.breeding_id) && mapBreedingRequestId.get(adv.breeding_id)!=null 
              && adv.transaction_status == 'Offered' && adv.document_status == 'Accepted'"
              (click)="showRequests(adv,'show')">Ver peticiones
              <fa-icon *ngIf="adv.type=='Cat'" [icon]="faCat" class="ml-2"></fa-icon>
              <fa-icon *ngIf="adv.type=='Dog'" [icon]="faDog" class="ml-2"></fa-icon>
              <fa-icon *ngIf="adv.type=='Horse'" [icon]="faHorse" class="ml-2"></fa-icon>
            </button>
            <button type="button" class="btn btn-secondary mx-2" *ngIf="mapShowRequestBreeding.get(adv.breeding_id) && mapBreedingRequestId.get(adv.breeding_id)!=null 
              && adv.transaction_status == 'Offered' && adv.document_status == 'Accepted'"
              (click)="showRequests(adv,'hide')">Ocultar
            </button>
          </div>

          <!-- Pending requests -->
          <div *ngIf="mapShowRequestBreeding.get(adv.breeding_id)  && mapBreedingRequestId.get(adv.breeding_id)!=null 
             && adv.transaction_status == 'Offered' && adv.document_status == 'Accepted'" class="my-3">
            <h3>Peticiones recibidas</h3>
            <div *ngFor="let request of mapBreedingRequestId.get(adv.breeding_id)" class="row my-3">
              <div class="col-md-4">
                Usuario: {{mapBreedingReqIdUser.get(request.id)[0].name}}
                {{mapBreedingReqIdUser.get(request.id)[0].surname}}
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success mb-2"
                  [routerLink]="['/profile', request.particular_id]">Ver perfil</button>
              </div>
              <div class="col-md-4 justify-content-center">
                <button *ngIf="request.status == 'Pending'" type="button" class="btn btn-primary mb-2 ml-2"
                  (click)="onSubmitRequest(request.id, request.publication_id, true)">
                  Aceptar
                </button>
                <button *ngIf="request.status == 'Pending'" type="button" class="btn btn-danger ml-2"
                  (click)="onSubmitRequest(request.id, request.publication_id, false)">
                  Rechazar
                </button>
              </div>
            </div>
          </div>
          <!-- Accepted request -->
          <div *ngIf="mapBreedingRequestId.get(adv.breeding_id)!=null 
            && (adv.transaction_status == 'In payment' || adv.transaction_status == 'In progress' || adv.transaction_status =='Awaiting payment'
             || adv.transaction_status =='Completed' || adv.transaction_status == 'Reviewed')
            && adv.document_status == 'Accepted'" class="my-3">
            <div *ngFor="let request of mapBreedingRequestId.get(adv.breeding_id)" class=" my-3">
              <div *ngIf="request.status=='Accepted'">
                <h5><strong>Usuario:</strong> {{mapBreedingReqIdUser.get(request.id)[0].name}}
                  {{mapBreedingReqIdUser.get(request.id)[0].surname}} </h5>
                <button type="button" class="btn btn-success mb-2 ml-2 mt-2"
                  [routerLink]="['/profile', request.particular_id]">Ver perfil</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Foreach-->
  <pagination class="justify-content-md-center" [totalItems]="allads.length" previousText="Anterior" firstText="Primera"
    nextText="Siguiente" lastText="Ultimo" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)">
  </pagination>
</div>