<h1 class="display-4">Breeding List</h1>
<!--Foreach Advertisement-->

<div class="card border-success mb-3">
<h3 class="card-header">Titulo Anuncio</h3> <!--Advertisement title-->
<div class="card-body">
<!--Imagen de prueba-->
<img src="https://canillulurio.com.br/themes/wc_default/images/imags/img1.png">
<p class="card-text"><label><b>Tipo de animal: </b></label>   </p>
<p class="card-text"><label><b>Pedigree: </b></label>   </p>
<p class="card-text"><label><b>Edad: </b></label>   </p>
<p class="card-text"><label><b>Raza: </b></label>   </p>
<p class="card-text"><label><b>Ubicación: </b></label>   </p>
<p class="card-text"><label><b>Precio: </b></label>   </p>
<button type="button" class="btn btn-success">Ver Detalles</button>
</div>
</div>
<!--End Foreach-->