<h1 class="display-5">Lista de Crianza</h1>
<!--Foreach Advertisement-->

<div class="card border-success mb-3">
<h3 class="card-header"></h3> <!--Advertisement title-->
<div class="card-body">
<!--Imagen de prueba-->
<img src="">
<div class="description-content">
<li><label><b>Edad: </b></label> </li>
<li><label><b>Pedigree: </b></label> </li> 
<li><label><b>Ubicación: </b></label> </li>
<li><label><b>Precio: </b></label> </li>
</div>
<button type="button" class="btn btn-success">Ver Detalles</button>
</div>
</div>
<!--End Foreach-->