<h1 class="display-5">Lista de ofertas pendientes</h1>
<!--Foreach Advertisement-->

<div class="card border-success mb-3" *ngFor="let breedingAd of breedings">
<h3 class="card-header">{{breedingAd.breed}} en {{breedingAd.location}}</h3>
<div class="card-body">
<img src="{{env}}/{{breedingAd.animal_photo.split(',')[0]}}">
<div class="description-content">
<li><label><b>Edad: </b></label> {{breedingAd.birth_date}} años</li>
<li><label><b>Pedigree: </b></label>  </li>
<li><label><b>Ubicación: </b></label> {{breedingAd.location}} </li>
<li><label><b>Precio: </b></label> {{breedingAd.price}} euros </li>
</div>
<button type="button" class="btn btn-success" [routerLink]="['/breeding-edit', breedingAd.id]">Moderar</button>
</div>
</div>

<!--End Foreach-->
