<h1 class="display-5">Lista de ofertas pendientes</h1>
<!--Foreach Advertisement-->

<div class="card border-success mb-3" *ngFor="let breedingAd of returnedBreedings">
  <h3 class="card-header">
    {{ breedingAd.breed }} en {{ breedingAd.location }}
  </h3>
  <div class="card-body">
    <img
      src="{{ env }}/{{ breedingAd.animal_photo.split(',')[0] }}"
      alt="Foto/s del animal"
    />
    <div class="description-content">
      <ul>
        <li>
          <label><strong>Edad: </strong></label>
          {{ this.configService.calculateAge(breedingAd.birth_date) }} años
        </li>
        <li>
          <label><strong>Pedigree: </strong></label>
        </li>
        <li>
          <label><strong>Ubicación: </strong></label> {{ breedingAd.location }}
        </li>
        <li>
          <label><strong>Precio: </strong></label> {{ breedingAd.price }} euros
        </li>
      </ul>
    </div>
    <button
      type="button"
      class="btn btn-success"
      [routerLink]="['/breeding-edit', breedingAd.breedingId]"
    >
      Moderar
    </button>
  </div>
</div>

<!--End Foreach-->
<pagination class="center" [totalItems]="breedings.length" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)">
</pagination>