
.horizontal-advertisement{
    margin-top: 80px;
    bottom: 0;
}
.vertical-advertisement{
    overflow: hidden;
    background-color:lightblue;
    margin-top: 0px;
    display:inline-block;
    float: left;
    width: auto;
    height: 100%;
    

}

.foot{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 
 .foot-fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 @media (max-width:1220px){
    .vertical-advertisement{
        display: none;
    }

    .list-style{
        margin-left: 10%;
    }

 }