.foot-fixed{
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 .foot{
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }


 .img-fluid {
   height: 250px;
   width: inherit;
   object-fit: cover;
 }