<app-header></app-header>
<div class="container" id="first">
    <div class="row">
        <div class="col sm-6">
            <div class="card border-primary">
                <h3 class="card-header"></h3>
                <div class="card-body">
                    <div class="row" *ngIf="particular">
                        <a *ngIf="particular.particular.optional_photo"><img id="profile"
                                src="{{env}}/{{particular.particular.optional_photo}}"
                                alt="{{env}}/{{particular.particular.optional_photo}}">
                        </a>
                    </div>
                </div>
                <div class="card-body" *ngIf="particular">
                    <h1>Mi perfil</h1>
                    <p class="card-text">Nombre: {{particular.particular.name}} </p>
                    <p class="card-text">Usuario: {{particular.particular.user_name}} </p>
                    <p class="card-text">Email: {{particular.particular.email}} </p>
                    <p class="card-text">Móvil: {{particular.particular.telephone}} </p>
                    <p class="card-text">Dirección: {{particular.particular.address}} </p>
                    <p class="card-text">Fecha de registro: {{particular.particular.register_date | date:'MM/dd/yyyy'}}
                    </p>
                    <p class="card-text">Numero de valoraciones recibidas: {{numReviews}} </p>
                </div>
                <div class="card-body" *ngIf="numReviews>0">
                    <h1>Valoraciones Recibidas</h1>
                    <div class="card-body" *ngFor="let review of reviews; index as i;">
                        <h4>Valoración #{{i+1}}</h4>
                        <p class="card-text">Puntuación: {{review.star}}/5 </p>
                        <p class="card-text">Descripción: {{review.review_description}} </p>
                    </div>
                </div>
                <div class="card-body" *ngIf="numPets>0">
                    <h1>Mascotas registradas</h1>
                    <button type="button" class="btn btn-primary mb-2" [routerLink]="['/animal']">Añadir una mascota</button>
                    <div class="card-body border-top" *ngFor="let pet of pets;">
                        <div class="row">
                            <div class="col-md-3"
                                *ngFor="let img of pet.animal_photo.replace(' ', '').split(','); let i = index">
                                <a href="{{env}}/{{img}}" target="_blank"><img id="imagen{{i}}" src="{{env}}/{{img}}" alt="img{{i}}">
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                        <ul>
                           <li *ngIf="pet.name!=null" > <p class="card-text">Nombre: {{pet.name}}</p></li>
                           <li *ngIf="pet.type!=null"> <p class="card-text">Tipo de animal: {{configService.translateType(pet.type)}}</p> </li>
                           <li *ngIf="pet.breed!=null" > <p class="card-text">Raza: {{pet.breed}}</p> </li>
                           <li *ngIf="pet.genre!=null" > <p class="card-text">Genero: {{pet.genre == 'Male' ? 'Macho' : 'Hembra'}} </p> </li>
                           <li *ngIf="pet.birth_date!=null"> <p class="card-text">Edad: {{configService.calculateAge(pet.birth_date)}}</p> </li>
                            <p *ngIf="!notEditableAnimals.includes(pet.id)"><button type="button" class="btn btn-primary" [routerLink]="['/animal-edit', pet.id]">Editar mascota</button></p>
                            <p class="text-primary mt-2" *ngIf="notEditableAnimals.includes(pet.id)">No se puede editar porque está en una crianza
                                 <strong>{{configService.translteStatus(mapNotEditableAnimals.get(pet.id))}}</strong></p>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>