<app-header></app-header>
<div class="container my-10">
    <div class="card p-3 bg-white rounded shadow-sm">
        <div class="row mt-4">
            <div class="col-sm-4">
                <div class="row" *ngIf="particular">
                    <ul>
                    <a *ngIf="particular.particular.optional_photo"><img class="img-fluid rounded"
                            src="{{env}}/{{particular.particular.optional_photo}}"
                            alt="{{env}}/{{particular.particular.optional_photo}}">
                    </a>
                    <h3 class="mt-3">{{particular.particular.name}}</h3>
                    <br>
                    <h5>Información de contacto</h5>
                    <hr>
                    <p class="card-text"><fa-icon [icon]="faEnvelope" class="mr-3"></fa-icon> {{particular.particular.email}} </p>
                    <p class="card-text"><fa-icon [icon]="faPhone" class="mr-3"></fa-icon> {{particular.particular.telephone}} </p>
                    <p class="card-text"><fa-icon [icon]="faMapMarkedAlt" class="mr-3"></fa-icon> {{particular.particular.address}} </p>
                    <button type="button" class="btn btn-secondary mb-2 my-2" (click)="getMyData()">Descargar mis datos</button>

                    <button type="button" class="btn btn-secondary mb-2 my-2" *ngIf="rol == 'particular' && canDelete==true"
                    (click)="deleteMyAccountParticular()">Eliminar mi cuenta</button>
                    <button type="button" class="btn btn-secondary mb-2 my-2" *ngIf="rol == 'shelter' && canDelete==true"
                    (click)="deleteMyAccountShelter()">Eliminar mi cuenta</button>
                    
                    </ul>
                </div>
            </div>
            <div class="col-sm-7 ml-5">
                <h1>{{particular.particular.user_name}} </h1>
                <p class="card-text">Fecha de registro: {{particular.particular.register_date | date:'MM/dd/yyyy'}}</p>
                <div class="row mt-4 mb-2">
                    <h1 class="col-2 mr-n5">{{rating}}</h1>
                    <div class="col-1" *ngFor="let star of stars">
                        <fa-icon class="fa-2x" [icon]="faStar" *ngIf="star==1"></fa-icon>
                        <fa-icon class="fa-2x" [icon]="faStarHalfAlt" *ngIf="star==0"></fa-icon>
                        <fa-icon class="fa-2x" [icon]="faStarRegular" *ngIf="star==2"></fa-icon>
                    </div>
                </div>
                <div class="btn-group mt-5" role="group">
                    <button type="button" class="btn btn-primary" (click)="options('valoraciones')">Valoraciones</button>
                    <button type="button" class="btn btn-primary" (click)="options('mascotas')">Mascotas</button>
                </div>
                <div class="progress mt-n3">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-section" *ngIf="numReviews>0 && valoraciones">
                    <h1 class="my-4">Valoraciones recibidas</h1>
                    <table class="table table-primary table-bordered table-striped">
                        <caption>Tabla de valoraciones</caption>
                        <thead>
                          <tr class="table-secondary">
                            <th scope="col">Nº</th>
                            <th scope="col">Puntuación</th>
                            <th scope="col">Descripción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let review of reviews; index as i;">
                            <th scope="row">#{{i+1}}</th>
                            <td class="text-center"><h4>{{review.star}}<fa-icon class="fa-xs ml-2" [icon]="faStar"></fa-icon></h4></td>
                            <td>{{review.review_description}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-section" *ngIf="mascotas">
                    <h1 class="my-4">Mascotas registradas</h1>
                    <button type="button" class="btn btn-secondary mb-2 my-2" [routerLink]="['/animal']">Añadir una mascota</button>
                    <div class="row" *ngIf="numPets>0">
                        <div class="col-md-6" *ngFor="let pet of returnedPets;">
                            <div class="card mb-3">
                                <carousel class="card-img-top">
                                    <slide *ngFor="let img of pet.animal_photo.replace(' ', '').split(','); let i = index">
                                        <img class="img-fluid card-img-top" src="{{env}}/{{img}}" alt="img{{i}}">
                                    </slide>
                                </carousel>
                                <div class="card-header bg-success text-white">
                                    <h5 class="primary-card-title">{{pet.name}} 
                                    <fa-icon *ngIf="pet.type=='Dog'" class="ml-2" [icon]="faDog"></fa-icon>
                                    <fa-icon *ngIf="pet.type=='Cat'" class="ml-2" [icon]="faCat"></fa-icon>
                                    <fa-icon *ngIf="pet.type=='Horse'" class="ml-2" [icon]="faHorse"></fa-icon>
                                    <fa-icon *ngIf="pet.genre=='Male'" class="ml-2" [icon]="faMars"></fa-icon>
                                    <fa-icon *ngIf="pet.genre=='Female'" class="ml-2" [icon]="faVenus"></fa-icon>
                                    </h5>
                                </div>
                                <div class="card-body bg-white">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" *ngIf="pet.breed!=null" >Raza: {{pet.breed}}</li>
                                        <li class="list-group-item" *ngIf="pet.birth_date!=null">Edad: {{configService.calculateAge(pet.birth_date)}}</li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <p *ngIf="!notEditableAnimals.includes(pet.id)"><button type="button" class="btn btn-primary mb-n2" [routerLink]="['/animal-edit', pet.id]">Editar mascota</button></p>
                                    <p class="text-primary mt-2" *ngIf="notEditableAnimals.includes(pet.id)">No se puede editar porque está en una crianza
                                        <strong>{{configService.translteStatus(mapNotEditableAnimals.get(pet.id))}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination class="justify-content-md-center" [totalItems]="pets.length" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)">
                    </pagination>
                </div>
            </div>


        </div>
    </div>
</div>
<app-footer></app-footer>