<!--Foreach Advertisement-->
<div class="mb-3 ">
  <h1 class="display-4">Lista de crianza</h1>
  <button
    routerLink="/breeding"
    type="button"
    *ngIf="'particular'"
    class="btn btn-success"
  >
    Crear Anuncio
  </button>
  <button
    routerLink="/breeding-animal"
    type="button"
    *ngIf="'particular'"
    class="btn ml-3 btn-success"
  >
    Crear Anuncio con una mascota registrada
  </button>
</div>
<div class="mb-3">
  <form [formGroup]="filterForm">
    <label for="price">Precio</label>
    <input
      type="text"
      class="form-control"
      formControlName="price"
      aria-label="Amount (to the nearest dollar)"
      (change)="onSubmit()"
    />

    <label for="type">Tipo animal</label>
    <select
      class="form-control"
      id="type"
      formControlName="type"
      (change)="onSubmit()"
    >
      <option value="" [defaultSelected]="true">Seleccione tipo animal</option>
      <option value="Dog">Perro</option>
      <option value="Cat">Gato</option>
      <option value="Horse">Caballo</option>
    </select>

    <label for="pedigree">Pedigrí</label>
    <select
      class="form-control"
      id="pedigree"
      formControlName="pedigree"
      (change)="onSubmit()"
    >
      <option value="" [defaultSelected]="true"></option>
      <option value="true">Si</option>
      <option value="false">No</option>
    </select>

    <label for="breed">Raza</label>
    <input
      type="text"
      class="form-control"
      id="breed"
      formControlName="breed"
      (change)="onSubmit()"
    />

    <label for="genre">Genero</label>
    <select
      class="form-control"
      id="genre"
      formControlName="genre"
      (change)="onSubmit()"
    >
      <option value="" [defaultSelected]="true">Seleccione genero</option>
      <option value="Male">Macho</option>
      <option value="Female">Hembra</option>
    </select>
  </form>
</div>

<div class="card border-success mb-3" *ngFor="let breedingAd of returnedBreedings">
  <h3 class="card-header">
    {{ breedingAd.breed }} en {{ breedingAd.location }}
  </h3>
  <div class="card-body">
    <img
      src="{{ env }}/{{ breedingAd.animal_photo.split(',')[0] }}"
      alt="Foto/s del animal"
    />
    <div class="description-content">
      <ul>
        <li class="card-text">
          <label><strong>Edad: </strong></label>
          {{ this.configService.calculateAge(breedingAd.birth_date) }}
        </li>
        <li class="card-text">
          <label><strong>Animal: </strong></label>
          {{ this.configService.translateType(breedingAd.type) }}
        </li>
        <li class="card-text">
          <label><strong>Pedigree: </strong></label>
          {{ breedingAd.pedigree ? "Sí" : "No" }}
        </li>
        <li class="card-text">
          <label><strong>Ubicación: </strong></label> {{ breedingAd.location }}
        </li>
        <li class="card-text">
          <label><strong>Precio: </strong></label> {{ breedingAd.price }} euros
        </li>
      </ul>
    </div>
    <button
      type="button"
      class="btn btn-success"
      (click)="viewDetails(breedingAd.breeding_id)"
    >
      Ver Detalles
    </button>
  </div>
</div>
<pagination class="center" [totalItems]="breedings.length" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)">
</pagination>