<div class="container">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-header">Lista de crianza</h1>
      <p class="lead text-muted">
        Esta es la lista de todas las ofertas de crianza disponibles
      </p>
      <p>
        <button routerLink="/breeding" type="button" *ngIf="'particular'" class="btn btn-success">Crear Anuncio</button>
        <button routerLink="/breeding-animal" type="button" *ngIf="'particular'" class="btn ml-3 btn-success">Crear
          Anuncio con una mascota registrada</button>
      </p>
    </div>
  </section>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="border-bottom border-gray pb-2 mb-0">Filtrar</h3>
    <br>
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="form-group col-sm">
          <label for="price">Precio máximo</label>
          <input type="text" class="form-control" formControlName="price" (change)="onSubmit()" />
        </div>
        <div class="form-group col-sm">
          <label for="type">Tipo animal</label>
          <select class="form-control" id="type" formControlName="type" (change)="onSubmit()">
            <option value="" [defaultSelected]="true">Seleccione tipo animal</option>
            <option value="Dog">Perro</option>
            <option value="Cat">Gato</option>
            <option value="Horse">Caballo</option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="pedigree">Pedigrí</label>
          <select class="form-control" id="pedigree" formControlName="pedigree" (change)="onSubmit()">
            <option value="" [defaultSelected]="true">Selecciona si tiene pedigrí</option>
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm">
          <label for="breed">Raza</label>
          <input type="text" class="form-control" id="breed" formControlName="breed" (change)="onSubmit()" />
        </div>
        <div class="form-group col-sm">
          <label for="genre">Genero</label>
          <select class="form-control" id="genre" formControlName="genre" (change)="onSubmit()">
            <option value="" [defaultSelected]="true">Seleccione genero</option>
            <option value="Male">Macho</option>
            <option value="Female">Hembra</option>
          </select>
        </div>
        <div class="form-group col-sm"></div>
      </div>
    </form>
  </div>

  <div class="alert alert-dismissible alert-warning" *ngIf="returnedBreedings.length>0">
    <h4 class="alert-heading">
      <fa-icon [icon]="faAward" class="mr-2"></fa-icon>Mascotas con pedigrí
    </h4>
    <p class="mb-0">Si ves este símbolo, significa que la mascota tiene pedigrí y ha sido verificado por nuestros
      moderadores</p>
  </div>

  <div class="alert alert-dismissible alert-info" *ngIf="returnedBreedings.length==0">
    <h4 class="alert-heading">
      <fa-icon [icon]="faInfoCircle" class="mr-2"></fa-icon>No se han encontrado ofertas
    </h4>
  </div>

  <div class="row">
    <div class="col-md-3" *ngFor="let breedingAd of returnedBreedings">
      <div class="card mb-3">
        <img class="card-img-top" src="{{ env }}/{{ breedingAd.animal_photo.split(',')[0] }}" alt="Foto/s del animal" />
        <div class="card-header bg-success text-white">
          <h5 class="primary-card-title">{{breedingAd.breed}}
            <fa-icon *ngIf="breedingAd.pedigree" [icon]="faAward" class="ml-2"></fa-icon>
          </h5>
        </div>
        <div class="card-body bg-white">
          {{breedingAd.genre == 'Male' ? 'Macho' : 'Hembra'}} de
          {{ this.configService.calculateAge(breedingAd.birth_date) }}
          <strong>{{ breedingAd.pedigree ? "con" : "sin" }}</strong> pedigrí en {{ breedingAd.location }}
          <h2 class="text-right">{{ breedingAd.price }} €</h2>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-success details" (click)="viewDetails(breedingAd.breeding_id)">
              Ver Detalles
              <fa-icon *ngIf="breedingAd.type=='Cat'" [icon]="faCat" class="ml-2"></fa-icon>
              <fa-icon *ngIf="breedingAd.type=='Dog'" [icon]="faDog" class="ml-2"></fa-icon>
              <fa-icon *ngIf="breedingAd.type=='Horse'" [icon]="faHorse" class="ml-2"></fa-icon>
            </button>
            <fa-icon title="Este anuncio es de una de sus mascotas" *ngIf="personalBreedings.includes(breedingAd.id)"
              [icon]="faUser" class="ml-2"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination class="justify-content-md-center" [totalItems]="breedings.length" previousText="Anterior"
    firstText="Primera" nextText="Siguiente" lastText="Último" [itemsPerPage]="itemsPerPage"
    (pageChanged)="pageChanged($event)">
  </pagination>
</div>