.details-button{
    margin-left: 3%;
}

.card{
    font-size: 14px;
}

div{
    color: black;
}

img{
    width: 24%;
    float: right;
    border-radius: 20px;
    margin-right: 5%;
    margin-bottom: 1%;
}



.description-content{
    margin: 0;
    list-style-type: none;
}

button.details{
    margin: 0px 0px 0px 3%;
}

.center{
    display: flex;
    justify-content: center;
}
