<app-header></app-header>
<div class="card mx-3">
    <h3 class="card-header">Anuncio en Bormujos, Sevilla</h3>
    <div class="card-body">
      <h5 class="card-title">Crianza de un pastor alemán</h5>
    </div>
    <img style="height: 150px; width: 30%; display: block;" src="" alt="Card image">
    <div class="card-body">
      <p class="card-text">Fotos subidas por el publicante de este anuncio.</p>
      <p class="card-text">Precio: </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Raza:</li>
      <li class="list-group-item">Pedigree:</li>
      <li class="list-group-item">Edad:</li>
      <li class="list-group-item">Genéro:</li>
      <li class="list-group-item">Fecha de publicación:</li>
    </ul>
    <div class="card-body">
        <button type="button" class="btn btn-primary">Me interesa</button>
        <button type="button" class="btn btn-primary mx-3">Volver a anuncios</button>
        <button type="button" class="btn btn-primary mx-10">
            <span class="glyphicon glyphicon-star">Añadir a favoritos</span>           
        </button>

    </div>
    <div class="card-footer text-muted">
    </div>
  </div>



  <app-footer></app-footer>