<app-header></app-header>

<div id="main">
  <div class="container mt-4">
    <div class="mb-3 text-center">

      <!--Filro de peticiones-->
      <div class="mb-3" *ngIf="created==true">
        <form [formGroup]="filterForm">
          <label for="status">Estado</label>
          <select
            class="form-control"
            id="status"
            formControlName="status"
            (change)="onSubmit()">

            <option value="" [defaultSelected]="true">Seleccione estado</option>
            <option value="Accepted">Aceptada</option>
            <option value="Pending">Pendiente</option>
            <option value="Rejected">Rechazada</option>
            
          </select>
        </form>
      </div>
      <!---->

      <h1 class="display-4">{{ title }}</h1>
    </div>

    <!--Petciones-->
    <div class="row d-flex justify-content-center" style="margin-top: 6em;">
      <app-request-list-accepted-item
        *ngFor="let req of returnedRequest"
        [request]="req"
        [created]="created"
      ></app-request-list-accepted-item>
    </div>
    <!---->

  </div>
</div>

<pagination class="center" [totalItems]="requests.length" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"></pagination>
<div class="foot-fixed col-sm-13" *ngIf="!(returnedRequest.length >3) "><app-footer></app-footer></div>
<div class="foot col-sm-13" *ngIf="returnedRequest.length > 3"><app-footer></app-footer></div>