<div class="container">
  <div class="row">
    <div class="col sm-6" >
      <div class="card border-primary">
          <h3 class="card-header">{{adoptionListPageComponent.selectedAdoption.title}}</h3>
          <div class="card-body">

          <img style="height: 150px; width: 20%; display: block;" src="{{env}}/{{adoptionListPageComponent.selectedAdoption.animal_photo.split(',')[0]}}"
           alt="Card image">
          </div>
        <div class="card-body" *ngIf="adoptionListPageComponent.selectedShelter != null">
            <h1>Información de contacto</h1>
            <p class="card-text">Dirección: {{adoptionListPageComponent.selectedShelter.address}}</p>
            <p class="card-text">Teléfono: {{adoptionListPageComponent.selectedShelter.telephone}}</p>
            <p class="card-text">Nombre: {{adoptionListPageComponent.selectedShelter.name}} </p>
            <p class="card-text">Email: {{adoptionListPageComponent.selectedShelter.email}} </p>
        </div>
          <ul class="list-group list-group-flush">
            <h3 class="list-group-item">Datos específicos:</h3>
            <li class="list-group-item">Animal: {{adoptionListPageComponent.selectedAdoption.type}}</li>
            <li class="list-group-item">Raza: {{adoptionListPageComponent.selectedAdoption.breed}}</li>
            <li class="list-group-item">Pedigree: {{adoptionListPageComponent.selectedAdoption.pedigree}}</li>
            <li class="list-group-item">Edad: {{adoptionListPageComponent.configService.calculateAge(adoptionListPageComponent.selectedAdoption.birth_date)}}</li>
            <li class="list-group-item">Genéro: {{adoptionListPageComponent.selectedAdoption.genre}}</li>
          </ul>
          <div class="card-body">
              <button type="button" class="btn btn-primary" (click)="adoptionListPageComponent.isLeftVisible = !adoptionListPageComponent.isLeftVisible">Volver a adopciones</button>
          </div>
          <div class="card-footer text-muted">
              <br>
          </div>
      </div>
    </div>
  </div>
</div>
