<app-header></app-header>

<h1>Breeding List</h1>


<!--Foreach Advertisement-->
<div class="card border-success mb-3">
<h3 class="card-header">Titulo Anuncio</h3> <!--Advertisement title-->
<div class="card-body">
<!--Imagen de prueba-->
<img src="https://www.liceocentrodeestudios.es/images/liceocentrodeestudioses/459-cat-intelligence-wikipedia-406.jpg">
<p class="card-text"><label>Tipo de animal: </label>   </p>
<p class="card-text"><label>Pedigree: </label>   </p>
<p class="card-text"><label>Edad: </label>   </p>
<p class="card-text"><label>Raza: </label>   </p>
<p class="card-text"><label>Ubicación: </label>   </p>
<p class="card-text"><label>Precio: </label>   </p>
</div>
<!--Image-->


</div>
<app-footer> </app-footer>