<app-header></app-header>
<div class="container" id="first">
  <div class="row">
    <div class="col sm-6">
      <div class="card border-primary">
        <h3 class="card-header"></h3>
        <div class="card-body">
          <div class="row" *ngIf="particular">
            <a *ngIf="particular.particular.optional_photo"><img src="{{env}}/{{particular.particular.optional_photo}}">
            </a>
          </div>
        </div>
        <div class="card-body" *ngIf="particular">
          <h1>Perfil de {{particular.particular.name}}</h1>
          <p class="card-text">Nombre: {{particular.particular.name}} </p>
          <p class="card-text">Usuario: {{particular.particular.user_name}} </p>
          <p class="card-text">Fecha de registro: {{particular.particular.register_date | date:'MM/dd/yyyy'}} </p>
          <p class="card-text">Numero de valoraciones: {{numReviews}} </p>
        </div>
        <div class="card-body" *ngIf="numReviews>0">
          <h1>Valoraciones a {{particular.particular.name}} </h1>
          <div class="card-body" *ngFor="let review of reviews; index as i;">
            <h4>Valoración #{{i+1}}</h4>
            <p class="card-text">Puntuación: {{review.star}}/5 </p>
            <p class="card-text">Descripción: {{review.review_description}} </p>
          </div>
        </div>
        <div class="card-body" *ngIf="numPets>0">
          <h1>Mascotas registradas</h1>
          <div class="card-body" *ngFor="let pet of pets;">
              <div class="row">
                  <div class="col-md-3"
                      *ngFor="let img of pet.animal_photo.replace(' ', '').split(','); let i = index">
                      <a href="{{env}}/{{img}}" target="_blank"><img id="imagen{{i}}" src="{{env}}/{{img}}"
                              alt="img{{i}}">
                      </a>
                  </div>
              </div>
              <div class="card-body">
                  <p class="card-text">Tipo de animal: {{pet.type}}</p>
                  <p class="card-text">Raza: {{pet.breed}}</p>
                  <p class="card-text">Genero: {{pet.genre}} </p>
                  <p class="card-text">Edad: {{configService.calculateAge(pet.birth_date)}}</p>
              </div>
          </div>
      </div>
        <div class="card-body">
          <button type="button" class="btn btn-primary" [routerLink]="['/request']">Volver a mis ofertas</button>
        </div>
        <div class="card-footer text-muted">
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>